{% extends 'index/base.html' %}
{% load static %}

{% block title %}Главная | MS Auto{% endblock %}

{% block content %}
<main>
    <!-- Приветствие -->
    <h1>Добро пожаловать в MS Auto</h1>
    <p>MS Auto — это онлайн магазин подержанных автомобилей, основанный в 2025 году в городе Павлодар.</p>
    <p>У нас вы найдете надежные автомобили по доступным ценам. <br>
        Мы заботимся о каждом клиенте и тщательно проверяем каждую машину перед продажей.</p>
    <p>Начните поиск автомобиля вашей мечты прямо сейчас!</p>

    <!-- Баннер -->
    <div class="banner">
        <img src="{% static 'index/images/banner.jpg' %}" alt="Доверие и качество">
    </div>
</main>
{% endblock %}
