{% extends 'index/base.html' %}
{% load static %}
{% load humanize %}
{% load catalog_filters %}


{% block title %}Каталог автомобилей - MS Auto{% endblock %}

{% block content %}
<h1>Каталог автомобилей</h1>

<div class="catalog-grid">
    {% for car in cars %}
        <div class="car-card">
            <a href="{{ car.photo.url }}" target="_blank">
                <img src="{{ car.photo.url }}" alt="{{ car.brand }} {{ car.model }}">
            </a>
            <div class="car-info">
                <h2>{{ car.brand }} {{ car.model }} ({{ car.year }})</h2>
                <p><strong>Цвет:</strong> {{ car.color }}</p>
                <p><strong>Объем двигателя:</strong> {{ car.engine_volume }} л</p>
                <p><strong>Пробег:</strong> {{ car.mileage|intcomma }} км</p>
                <p><strong>Цена:</strong> {{ car.price|intspace }} ₸</p>
                <p>{{ car.description }}</p>
            </div>
        </div>
    {% empty %}
        <p>Автомобили не найдены.</p>
    {% endfor %}
</div>
{% endblock %}
